*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(196, 196, 196);
}

header{
    background-color: black;
}

/* NAVEGACION*/

.superior-gen{
    display: flex;
    padding: 20px 0 0 0;
    margin: 0 0 30px 0;
    background-color: black;
    justify-content: space-around;
}

.titulo-gen{
    background-color: black;
    color: #E5CE80;
    font-family: 'Ballet', cursive;
}

.titulo-gen a{
    color: #E5CE80;
    text-decoration: none;
    font-weight: bold;
}

.buscador-gen {
    border-radius: 7px;
    width: 300px;
    height: 20px;
    padding: 15px;
}

.container-gen{
    background-color: black;
    width: 400px;
    border-radius: 3px;
    align-self: center;
}

ul{
    list-style: none;
}

.navegador-gen{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-transform: uppercase;
}

.navegador-gen ul li a{
    color: #E5CE80;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.navegador-gen ul li:hover{
    background-color: black;
    border-bottom: 2px solid rgb(201, 173, 13);
}

/* INDEX */


.imagenes img{
    width: 200px;
    height: 300px;
    margin: 20px;
    border: 2px solid black;
}

.imagenes-inicio{
    display: flex;
    justify-content: center;
}

.ubicacion-padre{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.ubicacion{
    width: 450px;
    height: 300px;
}

/* footer */

.pie{
    background-color: grey;
    display: flex;
    justify-content: center;
    height: 400px;
}

.dedos{
    width: 300px;
    height: 300px;
    padding: 20px;
}

/* FIN INICIO */

/* TIENDA */

.imagen-tienda{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 40px;
    margin: 100px 0 0 0;
}


/* OFERTAS Y NOVEDADES */

.imagenes-of-nov{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 40px;
    margin: 30px 0 0 0;
    justify-content: center;
}

.tarjetas{
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}

/* FIN DESKTOP */

/* ------------------------------------------------------------------------------------------------------------------------------- */

/* MEDIA QUERY */

/* CELULAR */
@media screen and (max-width:576px) {
/* Navegacion */
.superior-gen{
        flex-direction: column;
        align-items: center;
}

.container-gen{
    width: 55vw;
}

.navegador-gen{
    flex-wrap: wrap;
    gap: 0;
}

ul{
    padding: 1vw;
    margin: 1vw;
}

/* inicio */

.imagenes img{
    width: 30vw;
    height: 45vw;
}

.imagenes-inicio{
    flex-wrap: wrap;
}

.ubicacion{
    width: 45vw;
    height: 35vw;
}

.pie{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 60vw 60vw;
    height: 130vw;
}

.dedos{
    width: 50vw;
    height: 50vw;
    padding: 1vw;
}

p{
    font-size: small;
}

/* TIENDA */
.imagen-tienda{
    grid-template-columns: 45vw 45vw;
    margin: 20px 0 0 0;
}

/* OFERTAS Y NOVEDADES */
.banner img{
    width: 576px;
}

.imagenes-of-nov{
    justify-content: center;
    grid-template-columns: 45vw 45vw;
}
}